<!-- board/detail.html -->
{% extends 'base.html' %}

{% block content %}
<h1>{{ article.title }} ({{ article.comment_set.count }})</h1>
<p>{{ article.content }}</p>
<p>by - {{ article.user.username }}</p>
{% if request.user == article.user %}
<div>
    <button>수정</button>
    <button>삭제</button>
</div>
{% endif %}


{% comment %} 댓글 입력창
<form action="{% url 'board:create_comment' article.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button>제출!</button>
</form> {% endcomment %}

<hr>
<!-- component(부품) -->
{% if request.user.is_authenticated %}
{% include 'board/_comment_form.html' %}
{% endif %}

{% include 'board/_comment_list.html' %}
{% endblock content %}

