<!--board에 있는 index.html 템플릿 파일(목록 페이지에 보여줄 것) 만들기-->

{% extends 'base.html' %}

{% block content %}

<!--views.py에서 articles변수에 있는 레코드가 모두 나열하기 위해 for문을 사용한다-->
<!--for문에 해당하는 부분은 {% %}로 감싸고, 단순히 변수를 의미하는 곳은 {{}}로 감싸준다-->
<!--<ul> 태그는 순서가 없는 HTML 리스트(list)를 정의할 때 사용-->
<!--<li> 요소는 목록을 만드는 태그, 순서가 있는 리스트(ordered list)-->
<!--<a> 태그에는 링크(link)의 목적지를 가리키는 href 속성이 필요-->
<!--url 'board:article_detail는 articles/<int:article_pk>/를 의미-->
<!--article과 comment 테이블의 관계이며 외래키로 연결되어 있다.-->
<!--article이 1, comment가 N이다-->
<!--1:N관계에서는 1테이블에 연결된 N테이블 항목들이라는 의미로 xxx_set디폴트로 제공-->
<!--article레코드에 연결된 comment테이블의 레코드를 세라는 의미이다-->

<ul>
    {% for article in articles %}
    <li>
        <a href="{% url 'board:article_detail article.pk '%}">
            {{ article.title}}
        </a>({{ article.comment_set.count }})
    </li>
    {% endfor %}
</ul>

{% endblock content %}